
.panel {
    display: inline;
}
.panel__btn {
    display: table-cell;
    width: 50%;
    padding-left: 10px;
}
  
.panel__btn .btn {
    width: 100%;
}

.input {
    display: inline;
}

.input__text {
    display: table-cell;
    width: 50%;
    padding-left: 10px;
}

.buttons {
    width: 700px;
    margin: 0 auto;
}

.action_btn {
    width: 350px;
    margin: 0 auto;
}

.subheading {
    font-size: 160%;
    color: rgb(78, 78, 78);
}

.parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  div.box {
    position: relative;
    width: 200px;
    height: 200px;
    background: #eee;
    color: #000;
    padding: 20px;
 }
 
 div.box:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
 }
 
 a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
 }